
@import url("style-large.css") screen and (min-width: 767px) ;
@import url("style-small.css") screen and (max-width: 766px) ;

@font-face 
{
    font-family: Heming;
    src: url(../Fonts/heming-variable.ttf);
}

@font-face 
{
    font-family: Woodford;
    src: url(../Fonts/WoodfordBornePro/WoodfordBournePro-Regular.ttf);
}

:root {
    --txtColor:#E5DBC7;
    --txtColor2:#afa899;
    --navBarColor: #7D627A;
    --bgColor: #473A4A;
    --contrastColor: #F29559;
    --cardColor: #473A4A;
    --footerColor: #7D627A;
    --lightViolet: rgba(237,201,255,.16);
    --lighterViolet: rgba(251, 193, 242, 0.5);
    --lightShadow: 0px 0px 29px 6px var(--lightViolet);
    --lighterShadow: 0px 0px 31px 6px var(--lighterViolet);
    --largeMargin: 65%; 
    --largeProjectArticleGap: 10%;
    --visualLineThickness: 3px;
    --lineVisualWidth: 70px;
    --visualSquareSize: 10px;
    --blackColor: #1A161C;
    --borderRadius: 5px;
    --iconFilter: brightness(0) saturate(100%) invert(96%) sepia(87%) saturate(228%) hue-rotate(315deg) brightness(92%) contrast(96%);
    --contrastFilter: brightness(0) saturate(100%) invert(83%) sepia(36%) saturate(3935%) hue-rotate(321deg) brightness(101%) contrast(90%);
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Woodford", sans-serif;
    color: var(--txtColor);
    font-weight: 500;
    list-style: none;
}
.clickable {
    cursor: pointer;
}

.btn {
    transition: all 0.3s ease;
    transform-origin: 50% 0;
    &:hover {
        transform: scale(1.05);
    }
}

.orangeAnim{
    transition: 0.2s ease;
    &:hover{
        color: var(--contrastColor); 
    }
}
.hidden
{
    display: none;
}
.orangeImgAnim{
    transition: 0.2s ease;
    &:hover{
        filter:var(--contrastFilter);
    }
}
h1	
{
    font-family: "Heming", sans-serif;
    font-size: xx-large;
    font-weight: bold;

}
h2
{
    font-family: "Heming", sans-serif;
    font-weight: bold;
}

img
{
    border-radius: var(--borderRadius);
}
video
{
    border-radius: var(--borderRadius);
}
body
{
    border: solid rgba(0, 0, 0, 0) 1px ;
    background: linear-gradient(180deg, #1e1a20 0%, #050405 100%);
    position: relative;
    overflow-x: hidden;
}
#starCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    pointer-events: none;
    height: 100%;
    width: 100vw;
}
header
{
    position: fixed;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    width: 100vw;
    height: 60px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: -2px;

    background-color: var(--navBarColor);
    filter: drop-shadow(0px -15px 27px #000000);
    z-index: 99;

    nav{
        display: flex;
        justify-content: space-between;
        flex-basis: 100%;
        align-items: center;
        &>ul li a{
            font-size: 18px;
            text-decoration: none;
        }
    }
    ul{
        list-style: none;
        display:  inline-block;
        font-size: 0;
        li{
            display: inline-block;
            margin-left: 10px;
            img
            {
                filter:var(--iconFilter);
            }
        }
        &:first-child li
        {
            margin-left: 15px;
        }
        &:last-of-type
        {
            margin-left: auto;
        }
    }
    img
    {
        width: 30px;
        height: 30px;
    }
    
}
/* header>a>img
{
    margin-right: 40px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
} */

/*-----------------------------------Intro--------------------------------------*/
.name
{
    font-size: large;
}
.intro
{
    margin-top: 100px;
    text-align: center;
    h1{
        font-size: 40px;
        margin-top: 15px;
    }
    h2{
        margin-bottom: 10px;
        color: var(--contrastColor);
    }
    iframe
    {
        box-shadow: var(--lightShadow);
        border: 5px solid var(--footerColor);
        border-radius: var(--borderRadius);
        height: 400px;
        &:hover{
            box-shadow: var(--lighterShadow);
        }
    }
    
}
.line
{
    margin: auto;
    width: 100px;
    height: var(--visualLineThickness);
    background-color: var(--contrastColor);
    margin-top: 10px;
}
.description
{
    margin-top: 10px;
    font-size: small;
    line-height: 20px;
    margin-bottom: 50px;

}
/*-----------------------------------Intro--------------------------------------*/

/* -------------------------line visual--------------------------------- */
.lineVisual
{
    flex-basis: 100%;
    font-size: 0;
    display: flex;
    justify-content: center;.lineVisual>div  
    {
        margin:auto;
    
    }
    &>div div 
    {
        display: inline-block;
        &:nth-child(2){
            width: var(--lineVisualWidth);
            height: var(--visualLineThickness);
            background-color: var(--contrastColor);
        }
        /* rotated square 1 */
        &:nth-child(1){
            width: var(--visualSquareSize);
            height: var(--visualSquareSize);
            background-color: var(--contrastColor);
            transform: translate(calc(var(--visualSquareSize) * sqrt(2) / 2), calc(var(--visualSquareSize) / 2 + var(--visualLineThickness) / 2 * -1)) rotate(45deg);
            z-index: -1;
        }
        /* rotated square 2 */
        &:nth-child(3){
            width: var(--visualSquareSize);
            height: var(--visualSquareSize);
            background-color: var(--contrastColor);
            transform: translate(calc(var(--visualSquareSize) * -1 * sqrt(2) / 2), calc(var(--visualSquareSize) / 2 + var(--visualLineThickness) / 2 * -1)) rotate(45deg);
            z-index: -1;
        }
    }
    
}

/* -------------------------line visual---------------------------------- */

body>section.container
{
    width: var(--largeMargin);
    margin: auto;
    margin-top: 100px;
    display: flex;
    border-radius: 3px;
    margin-bottom: 250px;
}
section main
{
    display: flex;
}
section main>h1
{
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
}
#Debug
{
    position: fixed;
    top: 0;
    left: 0;
    font-size: xx-large;
}
/* ---------------------------- Project Card ---------------------------- */
main .lineVisual
{
    margin-bottom:100px ;
}
section main article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    background-color: var(--cardColor);
    border: 5px solid var(--cardColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--lightShadow);
    transition: transform 0.2s ease;
    &:hover {
        transform: scale(1.05);
        transform-origin: 50% 0%;
        box-shadow: var(--lighterShadow);
    
    }
    a{
        text-decoration: none;
        width: 100%;
        transition: transform 0.2s ease;
        text-align: center;
        transform-origin: 50% 0%;
        figure img
        {
            max-width: 90%;
            max-height: 160px;
            object-fit: contain;
        }
        /* opacity: 0; */
    }
    h2{
        margin-top: 10px;
        margin-bottom: 10px;    
        text-align: center;
    }
    p{
        text-align: center;
        width: 80%;
        font-size: 10px;
        margin: auto;
        background-color: var(--cardColor);
        border-radius: 10px;
    }
}
section main article a:hover 
{
    transform: scale(1.1);
}

/* ---------------------------- Project Card ---------------------------- */
/* ---------------------------- Scroll Bar ---------------------------- */
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--navBarColor);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--txtColor);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--txtColor2);
  }

/* ---------------------------- Scroll Bar ---------------------------- */


.glossy-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}
  
.glossy-shine {
    content: "";
    position: absolute;
    top: -100%;
    left: -100%;
    width: 200%;
    height: 200%;
    background: linear-gradient(
      120deg,
      rgba(255, 255, 255, 0) 30%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0) 70%
    );
    transform: rotate(1deg);
    opacity: 1;
    pointer-events: none;
}

#AboutMe
{
    width: var(--largeMargin);
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    article{
        flex-basis: 60%;
        text-align: left;
        p{
            margin-bottom: 20px;
        }
        h2{
            margin-bottom: 30px;
        }
        
    }
    aside{
        align-self: center;
        img{
            width: 100%;
        }
    }
}

#tools
{
    width: 300px;
    margin: auto;
    margin-bottom: 200px;
    text-align: center;

    h2{
        margin: auto;
        margin-bottom: 30px;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        align-items: center; /* Align items to the top */
        justify-content: center;
        list-style: none; /* Optional: remove bullets */
        padding: 0;
        margin: 0;
        li{
            display: inline-block;
        }
    }
    img{
        width: 90px;
    }
}

footer
{
    padding: 40px;
    background-color: var(--footerColor);
    ul{
        list-style: none;
        text-align: center;
    }
    ul:last-of-type img{
        filter:var(--iconFilter);
        width: 30px;
    }
    ul:last-of-type li{
     display: inline-block;
    }
    li{
        margin-bottom: 5px;
    }
    a{
        text-decoration: none;
    }
    
}
