section main
{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    article
    {
        flex-basis: calc(50% - var(--largeProjectArticleGap));
        padding: 5px;
        margin-bottom: 100px;
        min-height: 300px;
    }
}
#AboutMe
{
    flex-direction: row-reverse;
    article{
        flex-basis: 60%;
    }
    h2{
        transform-origin: left;
        margin-bottom: 30px;
    }
    aside{
        flex-basis: 35%;
    }
        
}
.intro iframe
{
    width: calc(var(--largeMargin ) - 200px);
    min-width: 500px;
    
}
main>article video
{
    width: 60%;
    height: 380px;
    section{
        width: 80%;
        margin: auto;
    }
}
