section.container
{
    width: 95%;
}

section main
{
    flex-direction: column;
    margin: auto;
    article{
        max-width: 250px;
        flex-basis: 100%;
        padding: 5px;
        min-height: 250px;
        margin-bottom: 30px;
        &>article video
        {
            width: 90%;
            height: 380px;
        }
        &>article section
        {
            margin: auto;
            width: 90%;
        }
    }
}
#AboutMe
{
    flex-direction: column;
    h2{
        transform-origin: center;
        text-align: center;
    }
    article{
        flex-basis: 100%;
    }
}
.intro iframe
{
    width: 100%;
}

#pages li:nth-child(1),
#pages li:nth-child(2) {
    display: none;
}