@import url("adventures-l.scss") screen and (min-width: 767px) ;
@import url("adventures-s.scss") screen and (max-width: 766px) ;
main {
  min-height: 900px;
  background-color: var(--cardColor);
  box-shadow: var(--grayShadow);
  text-align: center;
  border-radius: var(--borderRadius);
  position: relative;
  >h1 {
    margin-bottom: 30px;
  }
  div:not(:first-child) {
    margin-top: 100px;
  }

  app-adventure-article {
    display: block;
  }

  .back-btn {
    position: absolute;
    z-index: 3;

    svg {
      width: 50px;
      height: 50px;
      transform: rotate(-90deg);

      & #primary {
        fill: var(--cardColor);
      }

      & #secondary {
        fill: var(--contrastColor);
      }

      &:hover {
        filter: drop-shadow(0px 0px 5px var(--lighterViolet));
      }
    }

  }

  .up-button {
    border: none
  }

  .up-button>svg {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 3;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
    border: none;
    filter: drop-shadow(0px 0px 5px var(--lightViolet));
    transform-origin: 50% 50%;

    &:hover {
      filter: drop-shadow(0px 0px 5px var(--lighterViolet));
    }

    & #secondary {
      fill: var(--contrastColor);
    }
  }
}
