main {
  padding: 40px 0;
  width: 90%;
  margin: auto;
  margin-top: 100px;

  app-tag-filter{
    width: 80%;
    display: block;
    margin: auto;
  }
  app-navigation-list {
    width: 80%;
    display: block;
    margin: auto;
  }

  >article {
    h1 {
      width: 80%;
      margin: auto;
      font-size: x-large;
    }
    section {
      width: 80%;
    }
    video {
      object-fit: cover;
      height: 380px;
    }
    & iframe {
      width: 100%;
      height: 400px;
    }
  }
  .back-btn {
    display: none;
  }
}