@import url("navbar-s.scss") screen and (max-width: 766px) ;
@import url("navbar-l.scss") screen and (min-width: 767px) ;
@import url("navbar-xl.scss") screen and (min-width: 3800px) ;

:host
{
  position: fixed;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100vw;

  background-color: var(--navBarColor);
  z-index: 99;

  nav{
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
    align-items: center;
    &>ul li a{
      text-decoration: none;
    }
  }
  ul{
    list-style: none;
    display:  flex;
    font-size: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    li{
      a
      {
        display: block;
      }
    }

  }
  #pages{
    a {
      cursor: pointer;
    }
  }
  img
  {
    cursor: pointer;
  }
  svg{
    path{
      fill: var(--contrastColor);
    }
  }
  .contact {
    color: var(--contrastColor);
  }
}
