@import url("navbar-l.scss") screen;

:host {
  .nav-text {
    display: none;
  }
  #pages {
    gap: 12px ;
  }
  #pages .material-icons {
    font-size: 28px ;
    display: inline-block ;
  }
  .contact{
    //for aligning with other icons
    margin-top: -5px;
  }
}