<a
    (click)="navigate('', 'Home')"
>
  <img ngSrc="assets/Images/Icons/Logo.png" alt="pfp" height="303" width="303">
</a>
<nav>
  <ul id="pages">
    @for (btn of navButtons(); track btn.text) {
      <li>
        <a
          (click)="btn.onClick()">
          <i class="material-icons orangeAnim">{{ btn.icon }}</i>
          <span class="nav-text orangeAnim">{{ btn.text }}</span>
        </a>
      </li>
    }

  </ul>
  <ul>
    <li>
      <img
      src="assets/Images/Icons/mail.png"
      alt="contact"
      (click)="navigate('/', 'Contact', 100)"
      class ="material-icons clickable orangeHover btn contact"
      >
    </li>
  </ul>
</nav>
