:host
{
  height: 60px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  margin-top: -2px;

  filter: drop-shadow(0px -15px 27px #000000);

  nav{
    padding-left: 10px;
    &>ul li a{
      font-size: 18px;
    }
  }
  ul{
    gap: 5px;
  }
  #pages{
    margin-left: 5px;
    gap: 14px;
    
    .material-icons {
      display: none;
    }
  }
  img
  {
    width: 30px;
    height: 30px;
  }
  svg{
    width: 40px;
    height: 40px;
  }
  .contact {
    font-size: 38px;
  }
}
