main
{
    width: 100%;

    &>article 
    {
        & iframe{
            width:90%;
            height: 350px;
        }
        & video{
            width: 90%;
            height: 380px;
            object-fit: cover;
        }
        &>div
        {
            width: 90%;
        }
    }
    & article section.sideBySideImages
    {
        flex-direction: column;
    }
}
.tags
{
    width: 90%;
}