@import url("projectPage-small.css") screen and (max-width: 766px) ;
@import url("projectPage-large.css") screen and (min-width: 767px) ;


main{
    min-height: 400px;
    background-color: var(--cardColor);
    margin-top: 150px;
    margin-bottom: 100px;
    box-shadow: var(--lightShadow);
    padding: 30px;
    padding-bottom: 70px;
    text-align: center;
    border-radius: var(--borderRadius);
    position: relative;
}

main>article h1
{
    margin-bottom: 20px;
}
/* Back Button */
main>a
{
    position: absolute;
    left: 20px;
    top: 20px;
}
main>a img
{
    width: 50px;
}
/* Back Button End*/

/* Up Button */
main>button
{
    position: fixed;
    right: 20px;
    bottom: 20px;
    rotate: 90deg;
    background-color: transparent;
    border: none;
}
/* Up Button End*/

main>article video
{
    object-fit: cover;
}
main>article>div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 50px;

}

main>article:not(:first-child)
{
    margin-top: 100px;
}
/* Project Agenda */
main>nav>div{
    width: 70%;
    margin: auto;
    line-height: 1.3em;
}
main nav ul li a
{
    color: var(--contrastColor);
    text-decoration: none;
}
main nav ul li
{
    color: var(--contrastColor);
    list-style-type: disc;
    text-align: left;

}

main>nav>div>h1
{
    margin: 1em;
}

span a
{
    text-decoration: none;
} 
main>article>div div{
    display: inline-block;
    background-color: gray;
    margin-right: 7px;
    padding-left: 3px;
    padding-right: 4px;
}
main>article section
{
    text-align: left;
}
main>article section h2
{
    margin-bottom: 20px;
} 
main>article section p
{
    margin-bottom: 20px;
} 
main>article section a
{
    color: var(--contrastColor);
}
main>article section h3
{
    margin-top: 20px;
    margin-bottom: 10px;
}
main article section p.credits
{
    font-size: 10px;
    max-width: 200px;
}
main article figure img
{
    width: 90%;
    max-width: 700px;
}
main article section.sideBySideImages
{
    margin: 0;
    width: 100%;
    display: flex;
    flex-basis: 45%;
}
main article section.sideBySideImages img
{
    width: 100%;
    object-fit: contain;
}
figcaption
{
    font-size: 10px;
}