main
{
    margin: auto;
    width: 70%;

    &>article 
    {
        & iframe{
            width: 80%;
            height: 350px;
        }
        & video
        {
            width: 60%;
            height: 380px;
            object-fit: cover;
        }
        &>div
        {
            width: 80%;
        }
    }
    & article section.sideBySideImages
    {
        flex-direction: row;
        column-gap: 10px;
    }
}
.tags
{
    width: 60%;
}