main{
    width: 70%;
    margin: auto;
    min-height: 400px;
    background-color: var(--cardColor);
    margin-top: 150px;
    margin-bottom: 100px;
    box-shadow: var(--lightShadow);
    padding: 30px;
    padding-bottom: 70px;
    text-align: center;
    border-radius: var(--borderRadius);
    position: relative;
}

main>article h1
{
    margin-bottom: 20px;
}
main>article>a
{
    position: absolute;
    left: 20px;
    top: 20px;
}
main>article>a img
{
    width: 50px;
}
main>article iframe
{
    width: 80%;
    height: 350px;
}
main>article video
{
    width: 60%;
    height: 380px;
    object-fit: cover;
}
main>article>div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;

}
.tags
{
    width: 60%;
}

main>article:not(:first-child)
{
    margin-top: 100px;
}

span a
{
    text-decoration: none;
} 
main>article>div div{
    display: inline-block;
    background-color: gray;
    margin-right: 7px;
    padding-left: 3px;
    padding-right: 4px;
}

main>article section
{
    text-align: left;
    width: 80%;
    margin: auto;
    
}

main>article section h2
{
    margin-bottom: 20px;
} 
main>article section p
{
    margin-bottom: 20px;
} 
main>article section a
{
    color: var(--contrastColor);
}
main>article section h3
{
    margin-top: 20px;
    margin-bottom: 10px;
}
main article section p.credits
{
    font-size: 10px;
    max-width: 200px;
}
main article figure 
{
    height: 400px;
}
main article figure img
{
    height: 100%;
}
main article section.sideBySideImages
{
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-basis: 45%;
    column-gap: 10px;
}
main article section.sideBySideImages img
{
    width: 100%;
    object-fit: contain;
}
figcaption
{
    font-size: 10px;
}