main
{
    width: 100%;

    &>article 
    {
        & iframe{
            width:90%;
            height: 350px;
        }
        & video{
            width: 100%;
            height: 380px;
            object-fit: cover;
            position: absolute;
            right: 0;
        }
        
    }
    & article section.sideBySideImages
    {
        flex-direction: column;
    }
}
.tags
{
    margin-top: 410px;
    justify-content: center;
    align-items: center;
}