:host {
  .search-input{
    position: absolute;
    left: 0;
    top: 12.5px;
    width: 600px;

  }

  .tags {

    :nth-child(1) {
      margin-left: 660px;
    }

  }

  >section {
    margin-top: 120px;
  }

  mat-icon {
    font-size: 60px;
    padding: 9px 6px !important;
    width: 108px;
    height: 78px;
  }

  .search-input {
    padding: .6rem .21rem;
    border-radius: 18px;
    font-size: 45px;
  }

  .tags {
    gap: 21px;
    font-size: 42px;
    .tag {//it's because of the scroll bar
      padding: 9px 24px;

    }
  }

}