main {
  padding: 40px 0;
  width: 90%;
  margin: auto;
  margin-top: 100px;

  >article {
    h1 {
      width: var(--project-padding);
      margin: auto;
      font-size: x-large;
    }
    section {
      width: var(--project-padding);
    }
    video {
      object-fit: cover;
      height: 380px;
    }
    & iframe {
      width: 100%;
      height: 400px;
    }
  }
  .backBtn {
    display: none;
  }
}