@import url("project-l.scss") screen and (min-width: 767px) ;
@import url("project-s.scss") screen and (max-width: 766px) ;

.custom-spacing::first-letter {
  margin-right: -0.1em;
}

main {
  min-height: 400px;
  background-color: var(--cardColor);
  box-shadow: var(--grayShadow);
  padding-bottom: 70px;
  text-align: center;
  border-radius: var(--borderRadius);
  position: relative;

  &>article {
    overflow: hidden;
    transition: height 0.3s ease, opacity 0.3s ease;
    opacity: 1;

    &.hide-animate {
      height: 0 !important;
      opacity: 0;
      pointer-events: none;
    }

    &.show-animate {
      opacity: 1;
      pointer-events: auto;
    }

    & iframe {
      width: 100%;
    }

    &>div {
      width: var(--project-padding);
      display: flex;
      justify-content: center;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      margin-bottom: 50px;

    }

    h1 {
      margin-bottom: 20px;
    }
    /* Description section */
    section {
      margin: auto;
      text-align: left;
      ::ng-deep {
        h2, p {
          margin-bottom: 20px;
        }
        h3 {
          margin-bottom: 5px;
        }
        a {
          color: var(--contrastColor);
        }
        
      }
      &>div {
        width: 100%;
        margin: auto;
      }

      figure {
        text-align: center;
      }

      .time {
        width: 100%;
        display: flex;
        justify-content: space-between;
        h3 {
          display: inline;
        }
        span {
          color: var(--contrastColor);
        }
        margin-bottom: 20px;
        .smaller {
          text-align: right;
          * {
            font-size: 10px;
          }
        }
      }
      h3 {
        margin-top: 10px;
      }

      .credits {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        max-width: 200px;
        margin: 0;

        p {
          margin: 0;
        }
      }
    }

    figure img {
      width: 100%;
    }

    section.sideBySideImages {
      margin: 0;
      width: 100%;
      display: flex;
      flex-basis: 45%;

      img {
        width: 100%;
        object-fit: contain;
      }
    }
  }

  /* Back Button */
  .backBtn {
    position: absolute;
    z-index: 3;

    svg {
      width: 50px;
      height: 50px;
      transform: rotate(-90deg);

      & #primary {
        fill: var(--cardColor);
      }

      & #secondary {
        fill: var(--contrastColor);
      }

      &:hover {
        filter: drop-shadow(0px 0px 5px var(--lighterViolet));
      }
    }

  }

  /* Up Button */
  &>button {
    border: none
      /* background-color: ; */
  }

  &>button>svg {
    width: 50px;
    height: 50px;
    position: fixed;
    z-index: 3;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
    border: none;
    filter: drop-shadow(0px 0px 5px var(--lightViolet));
    transform-origin: 50% 50%;

    &:hover {
      filter: drop-shadow(0px 0px 5px var(--lighterViolet));
    }

    & #secondary {
      fill: var(--contrastColor);
    }
  }

  &>section {
    margin-top: 40px;

    &>ul {
      width: 100%;
    }

    & div {
      margin-top: 25px;
    }

    & div>p {
      display: inline-block;
      padding: 4px;
      border-radius: 5px;
    }

  }
}

span a {
  text-decoration: none;
}

figcaption {
  font-size: 10px;
}