:root {
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
  opacity: 1;

}

.hide-animate {
  height: 0 !important;
  opacity: 0;
  pointer-events: none;
}

.show-animate {
  opacity: 1;
  pointer-events: auto;
}

h1 {
  margin-bottom: 20px;
}

video {
  width: 100%;
  object-fit: cover;
}

.tags {
  margin: 0 0 50px 0;
}

/* Description section */
article>section {
  margin: auto;
  text-align: left;
  width: 80%;

  ::ng-deep {

    h2,
    p {
      margin-bottom: 20px;
    }

    h3 {
      margin-bottom: 5px;
    }

    a {
      color: var(--contrastColor);
    }

  }

  >div {
    width: 100%;
    margin: auto auto 20px;
  }

  figure {
    text-align: center;
  }

  section {
    width: 100%;

    &>h3 {
      display: inline;
    }

    &>span {
      color: var(--contrastColor);
    }

    margin-bottom: 20px;
  }

  h3 {
    margin-top: 10px;
  }

  p.credits {
    font-size: 10px;
    max-width: 200px;
  }
}

figure img {
  width: 100%;
}

section.sideBySideImages {
  margin: 0;
  width: 100%;
  display: flex;
  align-items: start;
  flex-basis: 45%;

  img {
    width: 100%;
    object-fit: contain;
  }
}

@media screen and (min-width: 767px) {
  article>section {
    width: 100%;
  }
  video {
    height: 380px;
    object-fit: cover;
  }

  iframe {
    width: 80%;
    height: 350px;
  }

  >div {
    width: 80%;
  }

  section.sideBySideImages {
    flex-direction: row;
    column-gap: 10px;
  }
}
