@import url("home-l.scss") screen and (min-width: 767px) ;
@import url("home-xl.scss") screen and (min-width: 3800px) ;
@import url("home-s.scss") screen and (max-width: 766px) ;

.intro {
  text-align: center;

  h2 {
    color: var(--contrastColor);
  }

  iframe {
    transition: box-shadow 0.2s ease;
  }

  app-separation-line {
    display: block;
  }
}

#AboutMe {
  display: flex;
  justify-content: space-between;

  article {
    text-align: left;
    background-color: var(--cardColor);
    z-index: 1;

    h2 {
      transform-origin: 50% 100%;
    }

  }

  aside {
    img {
      width: 100%;
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  >h1 {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  app-separation-line {
    flex-basis: 100%;
  }

}

#tools {
  text-align: center;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* Align items to the top */
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
    }
  }

  
}
