
main {
  margin: auto;
  margin-top: 100px;
  app-project-card {
    flex-basis: 100%;
  }
}
#AboutMe {
  flex-direction: column;
  margin-bottom: 50px;
  h2 {
    transform-origin: center;
    text-align: center;
  }

  article {
    flex-basis: 100%;
  }
}
.intro iframe
{
    min-width: 100px;
    width: 100%;
}