main {
  margin: 100px auto 250px;

  app-project-card {
    flex-basis: calc(50% - var(--largeProjectArticleGap));
  }
}
#AboutMe {
  flex-direction: row-reverse;

  article {
    flex-basis: 60%;
  }

  h2 {
    transform-origin: left;
    margin-bottom: 30px;
  }

  aside {
    flex-basis: 35%;
  }

}
.intro iframe {
  width: calc(var(--largeMargin) - 200px);
  min-width: 500px;

}

main>article video {
  width: 60%;
  height: 380px;

  section {
    width: 80%;
    margin: auto;
  }
}

#tools {
  width: 300px;
  img {
    width: 90px;
  }
}