.intro {
  margin-top: 300px;

  .name {
    font-size: 66px;
  }

  iframe {
    width: 1800px;
    min-width: 1440px;
    height: 1155px;

    box-shadow: var(--lightShadow);
    border: 15px solid var(--footerColor);
    border-radius: var(--borderRadius);
    
    &:hover {
      box-shadow: var(--lighterShadow);
    }
  }

  h1 {
    font-size: 120px;
    margin-top: 45px;
  }

  h2 {
    margin-bottom: 30px;
  }

  .description {
    margin-top: 30px;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 60px;
  }

  app-separation-line {
    margin-top: 30px;
  }
}

#AboutMe {
  flex-direction: row-reverse;
  width: var(--largeMargin);
  margin: 570px auto 0 auto;

  article {
    flex-basis: 60%;
    padding: 60px;
    border-radius: var(--borderRadius);

    p {
      margin-bottom: 60px;
    }
    h2 {
      margin-bottom: 90px;
    }
  }

  h2 {
    transform-origin: left;
    margin-bottom: 90px;
  }

  aside {
    flex-basis: 35%;
  }

}

main {
  width: var(--largeMargin);
  margin: 300px auto 150px;
  border-radius: 9px;
  >h1 {
    padding-bottom: 60px;
  }
  
  app-separation-line {
    margin-bottom: 150px;
  }

  app-project-card {
    flex-basis: calc(50% - var(--largeProjectArticleGap));
    padding: 15px;
    margin-bottom: 300px;
    min-height: 900px;

  }
  app-project-card:last-child:nth-child(odd) {
    margin-left: auto;
    margin-right: auto;
  }
}

main>article video {
  width: 60%;
  height: 1140px;

  section {
    width: 80%;
    margin: auto;
  }
}

#tools {
  margin: auto auto 600px;
  width: 900px;
  h2 {
    margin: auto auto 90px;
  }
  
  ul {
    gap: 30px;
  }

  img {
    width: 270px;
  }
  
}