<section class="intro">
  <article id="Home">
    <p class="name">Stefan Carpeliuc</p>
    <h1>
      Tooling Engineer
    </h1>
    <app-separation-line></app-separation-line>
    <p class="description">
      Over the past 4 years I have been making games solo and in teams<br>
      I'm focusing on becoming a good tooling engineer
    </p>
  </article>

  <iframe src="https://www.youtube.com/embed/WSp8GvMaYyA?si=sj0igKoscZUYQ7gb&vq=hd1080">
  </iframe>
</section>

<section id="AboutMe" class="starAvoid scaler">
  <article>
    <h2 scrollScale [offset]="-73" class="scaleInRange">About me</h2>
    <p scrollScale [offset]="-73">
      I am Stefan Carpeliuc, a game programmer specializing in tooling engineering with over 4 years of experience building games, shaders, and development tools.
    </p>
    <p scrollScale [offset]="-73">
      I study Creative Media and Game Technologies at Saxion University of Applied Sciences. My work focuses on game design procedural generation, editor tooling, Unity editor tools, optimization techniques, and Front-end development.
    </p>
    <p scrollScale [offset]="-73">
      I enjoy building tools that make developers faster and workflows cleaner. Rather than focusing only on gameplay features, I design systems that enable teams to iterate efficiently and scale complex content with confidence.
    </p>
    <p scrollScale [offset]="-73">
      In team environments, I bring strong communication and leadership skills. I served as Scrum Master in all group projects, handling planning, task breakdown, and coordination to consistently deliver results. I also gained professional experience during my internship at Tible, working on production level Angular+SpringBoot applications.
    </p>
    <p scrollScale [offset]="-73">
      Outside of coursework, I continuously build side projects, exploring topics such as procedural generation, spatial partitioning, and shader coding.
    </p>
    <p scrollScale [offset]="-73">
      I am currently looking for opportunities as a game programmer, with a focus on tooling engineering and graphics coding.
    </p>
  </article>
  <aside>
    <figure scrollScale appGlossyScroll class="glossy-container">
      <img ngSrc="assets/Images/MyPortrait2.JPG" alt="" height="4608" width="3456">
      <div class="glossy-shine"></div>
    </figure>
  </aside>
</section>

<main>
  <h1 id="Projects" scrollScale>Projects</h1>
  <app-separation-line scrollScale></app-separation-line>
  @for (card of cards; track $index) {
    <app-project-card
    scrollScale
    [title]="card.title"
    [description]="card.description"
    [imagePath]="card.imagePath"
    [route]="card.route"
    ></app-project-card>
  }
</main>



<section id="tools">
  <h2 >Tools and skills</h2>
  <ul>
    @for (tool of tools; track $index) {
      <li scrollScale [offset]="-68"><img class="btn" [src]="tool.imagePath" alt="{{tool.alt}}"></li>
    }
  </ul>
</section>
<div id="Contact"></div>
<app-contact-card  scrollScale></app-contact-card>
