:root {
  --smallBound: 766px;
  --project-padding: 80%;
  --largeBound: 767px;
  --txtColor:#E5DBC7;
  --txtColor2:#afa899;
  --navBarColor: #111111;
  --contrastColor: #F29559;
  --cardColor: #111111;
  --footerColor: #111111;
  --lightViolet: rgba(168, 107, 67, 0.16);
  --lighterViolet: rgba(242, 149, 89, 0.5);
  --lightShadow: 0px 0px 29px 6px var(--lightViolet);
  --grayShadow: 0px 0px 29px 6px #0e0e0e;
  --lighterShadow: 0px 0px 31px 6px var(--lighterViolet);
  --largeMargin: 65%;
  --largeProjectArticleGap: 10%;
  --visualLineThickness: 3px;
  --lineVisualWidth: 70px;
  --visualSquareSize: 10px;
  --blackColor: #1A161C;
  --borderRadius: 5px;
  --iconFilter: brightness(0) saturate(100%) invert(96%) sepia(87%) saturate(228%) hue-rotate(315deg) brightness(92%) contrast(96%);
  --contrastFilter: brightness(0) saturate(100%) invert(83%) sepia(36%) saturate(3935%) hue-rotate(321deg) brightness(101%) contrast(90%);
}
