h1 {
  font-size: xx-large;
}

h2 {
  font-size: 24px;

}

img {
  border-radius: var(--borderRadius);
}

video {
  border-radius: var(--borderRadius);
}

.tag {
  margin-right: 7px;
  padding-left: 3px;
  padding-right: 4px;
  border-radius: 5px;
  margin-top: 5px;

  &.active {
    outline: 2px solid var(--contrastColor);
    outline-offset: -2px;
  }
}

.activeTag {
  outline: 2px solid var(--contrastColor);
  outline-offset: -2px;
}
