:host {
  article {
    border: 15px solid var(--cardColor);
    border-radius: var(--borderRadius);
    box-shadow: var(--lightShadow);

    &:hover {
      box-shadow: var(--lighterShadow);

    }

    a {
      width: 600px;
      border-radius: var(--borderRadius);

      figure img {
        width: 600px;
        height: 600px;
      }

      &:hover {
        transform: scale(1.1) translateY(-60px);

        figure img {
          outline: 30px solid var(--cardColor);
        }
      }

    }

    h2 {
      margin-top: 30px;
      margin-bottom: 30px;
    }

    p {
      font-size: 30px;
      border-radius: 30px;
      padding: 9px;
    }

  }

}