nav{
  width: 100%;
  line-height: 1.4em;
  margin: 20px 0 40px 0;
  &>h1{
    margin: 0 auto 20px auto;
  }
  & ul li{
    transform-origin: left center;
    text-align: left;
    list-style: disc;
    line-height: 25px;
    margin-left: 15px;
  }
  // .line {
  //     width: var(--lineVisualWidth);
  //     height: 2px;
  //     background-color: var(--contrastColor);
  //     margin-left: 13px;
  //   }
}
