@import url("separation-line-xl.scss") screen and (min-width: 3800px) ;

.lineVisual {
  font-size: 0;
  display: flex;
  justify-content: center;

  .lineVisual>div {
    margin: auto;

  }
  
  .square {
    width: var(--visualSquareSize);
    height: var(--visualSquareSize);
    background-color: var(--contrastColor);
    z-index: -1;
  }

  &>div div {
    display: inline-block;

    &:nth-child(2) {
      width: var(--lineVisualWidth);
      height: var(--visualLineThickness);
      background-color: var(--contrastColor);
    }

    /* rotated squares */
    &:nth-child(1) {
      transform: translate(calc(var(--visualSquareSize) * sqrt(2) / 2), calc(var(--visualSquareSize) / 2 + var(--visualLineThickness) / 2 * -1)) rotate(45deg);
    }

    &:nth-child(3) {
      transform: translate(calc(var(--visualSquareSize) * -1 * sqrt(2) / 2), calc(var(--visualSquareSize) / 2 + var(--visualLineThickness) / 2 * -1)) rotate(45deg);
    }
  }

}